@include hide-menu {
  .menu-toggle {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-contacts {
    display: none;
  }

  .mobile-network-container {
    display: none;
  }
}
