/*FOOTER*/

.footer {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: $secondary-background-color;

  @include desktop {
    & {
      max-width: 100%;
    }
  }

  @include tablet {
    & {
      max-width: 100%;
    }
  }

  @include mobile {
    & {
      max-width: 100%;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 60px;



    @include tablet {
      & {
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }

    @include mobile {
      & {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
      }
    }
  
  }

  &__container-address {
    width: 231px;

    @include desktop {
      & {
        margin-left: 40px;
    }
  }

  @include tablet {
    & {
      margin-left: 0;
  }
}


    @include mobile {
      & {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0;
    }
  }
  }

  &__logo {
    font-family: 'Raleway', sans-serif;
    color: $primary-background-color;
    font-weight: 700;
    font-size: 31px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    width: 145px;
    margin-top: 60px;

    @include mobile {
      & {
        font-size: 24px;
      }
    }

    .footer__logo:focus {
      color: $accent-color;
    }
  }

  &__address-link1 {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $primary-background-color;

    @include mobile {
      & {
        display: flex;
        text-align: center;
        font-size: 14px;
        margin-top: 16px;
        width: 232px;
      }
    }

    .footer__address-link1:hover,
    .footer__address-link1:focus {
      color: $accent-color;
    }
  }

  &__address-link2 {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $tertiary-tex-color;

    @include mobile {
      & {
        display: flex;
        justify-content: center;
        font-size: 14px;
        margin-top: 1px;
        width: 232px;
      }
    }

    .footer__address-link2:hover,
    .footer__address-link2:focus {
      color: $accent-color;
    }
  }

  &__container-networks {
    display: flex;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
  

    @include tablet {
      & {
       
        align-items: center;
        
      }
    }

    @include mobile {
      & {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
    }
  }

  &__list-networks {
    display: flex;
    align-items: center;
  }

  &__text-networks {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-background-color;
    margin-top: 16px;

    
  }

  &__link-networks {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 20px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background: $accent-color;
    }
  }

  &__icon-networks {
    fill: $primary-background-color;

    &:hover {
      fill: $primary-background-color;
    }
  }

  &__container-form {
    display: flex;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
    gap: 15px;

    
  }

  &__label-suscribe {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-background-color;
  }

  &__container-send {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 20px;

    @include tablet {
      & {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
      }
    }
    @include mobile {
      & {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
      }
    }
  }

  &__input-mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 101px 15px 16px;
    margin-right: 12px;
    width: 358px;
    height: 50px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: $secondary-background-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: border-color $transition-duration $timing-function;
    cursor: pointer;
    outline: none;

    @include mobile {
      & {
        max-width: 320px;
        margin-left: 5px;
        margin-right: 5px;
        
      }
    }

    &:focus {
      border-color: $accent-color;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: $primary-background-color;
    border: none;
    cursor: pointer;
  }

  &__icon-suscribe {
    fill: $primary-background-color;
    margin-left: 20px;
  }
}