/*HEADER*/
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  margin: 0;

  @include desktop {
    & {
      max-width: 100%;
    }
  }

  @include tablet {
    & {
      max-width: 100%;
    }
  }

  @include mobile {
    & {
      max-width: 100%;
    }
  }

  &__logo {
    display: block;
    margin-top: 24px;
    margin-right: 93px;
    margin-bottom: 25px;

    @include desktop {
      & {
        margin-right: 93px;
      }
    }

    @include tablet {
      & {
        margin-right: auto;
      }
    }
  }

  &:focus {
    color: $accent-color;
  }

  &__container {
    display: flex;
    align-items: center;

    @include mobile {
      & {
        display: block;
      }
    }
  }

  &__nav {
    @include mobile {
      & {
        display: none;
      }
    }
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  &__nav-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__contacts-list {
    display: flex;
    margin-left: auto;

    @include tablet {
      & {
        display: flex;
        flex-wrap: wrap;

        flex-direction: column;
        gap: 10px;
      }
    }

    @include mobile {
      & {
        display: none;
      }
    }
  }

  &__contacts-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    gap: 10px;
    color: $secundary-text-color;
    fill: $secundary-text-color;

    &:hover,
    &:focus {
      fill: $accent-color;
      color: $accent-color;
    }
  }

  &__nav-item:not(:last-child),
  &__contacts-item--email:not(:last-child) {
    margin-right: 50px;

    @include tablet {
      & {
        margin-right: 25px;
      }
    }
  }
}
