/*SECTION-HERO*/
.hero {
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: $secondary-background-color;
  background-image: url(../images/header.jpg);
  width: 100%;
  position: absolute;
  margin: 0;

  @include desktop {
    & {
      max-width: 100%;
      padding-top: 200px;
      padding-bottom: 200px;
      background-color: $secondary-background-color;
      background-image: url(../images/header.jpg);
    }
  }
  @include tablet {
    & {
      max-width: 100%;
      padding-top: 118px;
      padding-bottom: 118px;
      background-color: $hero-backgroud-color;
      background-image: url(../images/header@2x.jpg);
    }
  }

  @include mobile {
    & {
      max-width: 100%;
      padding-top: 118px;
      padding-bottom: 118px;
      background-color: $hero-backgroud-color;
      background-image: url(../images/header@3x.jpg);
    }
  }

  &__title {
    font-weight: 900;
    font-size: 44px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    @include desktop {
      & {
        font-size: 44px;
        max-width: 696px;
      }
    }

    @include tablet {
      & {
        font-size: 26px;
        max-width: 360px;
      }
    }

    @include mobile {
      & {
        font-size: 26px;
        max-width: 360px;
      }
    }
  }

  &__button {
    display: flex;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background: $accent-color;
    color: $primary-background-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    padding: 10px 32px;

    &:hover,
    &:focus {
      color: $primary-background-color;
    }
  }

  @include tablet {
    & {
      font-size: 26px;
    }
  }

  @include mobile {
    & {
      font-size: 26px;
    }
  }

  &__button {
    display: flex;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background: $accent-color;
    color: $primary-background-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    padding: 10px 32px;

    &:hover,
    &:focus {
      color: $primary-background-color;
    }
  }
}
