/*SECTION-PORTFOLIO*/
.portfolio {

  display: flex;
  

  @include desktop {
    & {
      max-width: 100%;
    }
  }

  @include tablet {
    & {
      max-width: 100%;
      margin: 0;
    }
  }

  @include mobile {
    & {
      max-width: 100%;
    }
  }

  &__nav-list {
    display: flex;
    justify-content: center;

    @include tablet {
      & {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
      }
    }

    @include mobile {
      & {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
      }
    }
  
  }

  &__nav-btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    background-color: $tertiary-background-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
    padding: 6px 26px;
    margin-right: 8px;

    &:hover,
    &:focus {
      color: $primary-background-color;
      background-color: $accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  /*PORTFOLIO-LIST*/

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;

    @include tablet {
      & {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0;
      }
    }

    @include mobile {
      & {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
        margin: 0;
      }
    }
  }

  &__text-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 24px;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: $primary-text-color;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: $secundary-text-color;
  }

  &__item {
    background-color: $primary-background-color;
    border: 1px solid #eeeeee;
    width: 370px;
    margin-bottom: 30px;

    @include tablet {
      & {
        flex-basis: calc((100% - 30px) / 2);
        width: auto;
        margin-right: 10px;
      }
    }

    @include mobile {
      & {
        flex-basis: calc((100% - 80px) / 1);
        max-width: 450px;
       
      }
    }

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__card-container {
    position: relative;
    overflow: hidden;
  }

  &__description-text {
    position: absolute;
    width: 370px;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $primary-background-color;
    text-align: justify;
    padding: 63px 24px;
    transition: transform 1s ease;

    @include tablet {
      & {
        width: auto;
      }
    }

    .portfolio__item:hover & {
      transform: translateY(-294px);
    }
  }
}
